.heading-style {
  font-weight: bold;
  font-size: 20px;
  color: white;
  letter-spacing: -0.02em;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logo-img-style {
  height: 100px;
  width: 100px;
  top: 125;
  left: 25;
  z-index: 999;
  position: absolute;
  border-radius: 50%;
  padding: 3;
  background: #fff;
}

.cover-image-style {
  max-width: 100%;
  min-height: 250px;
  width: 100%;
}

.tag-group {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 10px;

  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.menu-div {
  background: #1a1b1c;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 15px;
  margin-top: 20px;
  color: #fff;
}

.text-style {
  font-size: 16px;
  color: "#fff";
  font-weight: bold;
}

.text-style2 {
  font-size: 13px;
  color: "#fff";
  font-weight: normal;
}

.btn-v {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px;
  z-index: 9;
}

.hr {
  margin-top: 4rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #fff;
}
