.outlet-style {
  min-height: 100vh;
}

.heading-style {
  font-weight: bold;
  font-size: 20px;
  color: white;
  letter-spacing: -0.02em;
  height: auto;
  z-index: 999;
  position: absolute;
  overflow: inherit;
  text-overflow: inherit;
  max-width: 50%;
}
.hamburger {
  color: white;
}
.color-link,
.color-link:hover {
  color: #2c3a56 !important;
  text-decoration: none !important;
}
.ht-35 {
  height: 35px;
  background: #fff;
}
.fs-11 {
  font-size: 11px;
}
.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.logo-img-style {
  position: absolute;
  z-index: 999;
  border-radius: 50%;
  background: #fff;
}

.cover-image-style {
  max-width: 100%;
  min-height: 250px;
}

.tag-group {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 10px;

  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}

.div-sticky {
  position: sticky;
  top: 0;
  z-index: 9999999999999;
}

.menu-div {
  background: #263044;
  border-radius: 8px;
  overflow-y: scroll;
  padding: 15px;
  margin-top: 10px;
  color: #fff;
}

.text-style {
  font-size: 16px;
  color: "#fff";
  font-weight: bold;
}

.text-style2 {
  font-size: 13px;
  color: "#fff";
  font-weight: normal;
}

.btn-v {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0px;
  z-index: 9;
  background: #e0475b !important;
  color: #fff !important;
  border: 1px solid #e0475b;
}

.hr {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #fff;
}

.no-image {
  width: 200px;
}

.btn-white {
  font-weight: bold;
  margin: 2px;
  color: #2c3a56;
  background: #fff;
  border: 1px solid #fff;
}

.btn-white-filter {
  font-weight: bold;
  margin: 2px;
  color: #2c3a56;
  background: #fff;
  border-radius: 42px;
  border: 1px solid #fff;
  margin-right: 10px;
}

.btn-blue-filter,
.btn-blue-filter:focus {
  background-color: #e0475b !important;
  color: #fff;
  margin-right: 10px;
  border-radius: 42px;
  font-weight: bold;
  border: 1px solid #e0475b !important;
  box-shadow: none !important;
}

.menu-style {
  background-color: #2c3a56;
  padding-bottom: 30px;
}

.currency-style {
  width: 12px;
  filter: invert(1);
  margin-top: -3px;
}

.menu-item-style {
  font-size: 14px;
  font-weight: 600;
  margin-left: 3px;
  margin-top: 3px;
}

.black-background {
  background: #2c3a56;
}

.description-style {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 500;
}

$dark: #2c3a56;
$danger: #e0475b;
