.drawer-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #8e9db9;
  margin-left: 50px;
  //opacity: 50%;
  text-decoration: none;
}

.drawer-link-active {
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  margin-left: 50px;
  //opacity: 100%;
}

.dashboard-detail-page-img {
  height: 100px;
  width: 100px;
}
