.hero-unit {
  height: 1200px;
  background-position: center;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .primary-text-color {
    color: #2c3a56;
    font-size: 24px;
  }
  .hero-text-secondary {
    font-size: 12px;
  }
  .faq-text {
    font-size: 12px;
  }
  .faq-header {
    font-size: 18px;
    font-weight: 500;
  }
  .section-header {
    font-size: 16px;
  }
  .section-card-header {
    font-size: 18px;
  }
  .table-text-secondary {
    font-size: 14px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 768px) {
  .hero-text-secondary {
    font-size: 20px;
  }
  .faq-text {
    font-size: 20px;
  }
  .faq-header {
    font-size: 36px;
    font-weight: 500;
  }
  .section-header {
    font-size: 32px;
  }
  .section-card-header {
    font-size: 24px;
  }
}

.how-it-works-section {
  margin-top: -475px;
  background-color: white;
  z-index: 9999999;
  border: 2px solid red;
}

.text-light-card {
  color: #e1e2e5;
}

.custom-font {
  font-size: 15px;
  line-height: 1.4;
}

.zoom {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.zoom img {
  transition: transform 0.5s ease;
  height: 400px;
}

.zoom:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.faq-style {
  border: 1px solid #c3cad8;
  border-radius: 12px;
  background: #fff;
  color: #2c3a56;
  margin-top: 32px;
}

.modal-content {
  border-radius: 1.3rem !important;
}

.custom-dropdown {
  width: 100%;
  background: white !important;
  color: grey;
  border: 1px solid #ced4da !important;
}

.custom-dropdown:focus {
  color: #000 !important;
}
